<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>实体表</title>
  <link rel="stylesheet" type="text/css" href="/themes/bootstrap/easyui.css">
  <link rel="stylesheet" type="text/css" href="/themes/icon.css">
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/sui.min.js"></script>
  <script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
  <script type="text/javascript" src="/js/easyui-lang-zh_CN.js"></script>
  
  <script type="text/javascript" src="/js/knockout.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/sui.min.css">
  <link rel="stylesheet" type="text/css" href="/css/sui-append.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
   <div class="easyui-layout" data-options="fit:true">
       <div data-options="region:'north',split:true" style="height:40px;border:none">
       	 <h3 style="height:10px;line-height:10px;margin-left:20px">以下为联动表格</h3>
       </div>
       <div data-options="region:'west',split:true" style="width:500px">
          <table id="master_table">
       	   </table>
       </div>
       <div id="master_tb">
              <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addEntity()">添加</a>
              <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editEntity()">编辑</a>
              <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyEntity()">删除</a>
       </div>

       <div id="dlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
                  closed="true" buttons="#dlg-buttons" data-options="modal:true">
              <div class="ftitle">实体信息</div>
              <form id="fm" method="post" novalidate>
                  <div class="fitem">
                      <label>ID:</label>
                      <input name="uid" class="easyui-textbox" readonly>
                  </div>
                  <div class="fitem">
                      <label>实体名称:</label>
                      <input name="fname" class="easyui-textbox" required="true">
                  </div>
                  <div class="fitem" >
                      <label>表名称:</label>
                      <input name="ftablename" class="easyui-textbox" required="true">
                  </div>
                  <div class="fitem" style="display:none">
                      <input name="oldtablename" class="easyui-textbox">
                  </div>
                  <div class="fitem">
                      <label>类型:</label>
                      <input name="ftype"id="ftype" class="easyui-combobox" required="true">
                  </div>
              </form>
          </div>
          <div id="dlg-buttons">
              <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveEntity()" style="width:90px">保存</a>
              <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
          </div>

       <div data-options="region:'center'">
       	   <table id="link_table">
       	   </table>
       </div>
       <div id="tb" style="height:auto">
			<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="append()">添加</a>
			<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit()">删除</a>
			<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="accept()">保存</a>
			<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="reject()">取消</a>
	   </div>
   </div>
   <script type="text/javascript">
        var editIndex = undefined;
        var masterTableUid=undefined;
        var inlineComboxData=[];
        var FentityInlineComboxData=[];
        var FenumInlineComboxData=[];
        var windowComboxData=getFtypeData(1);
        var ftablename=undefined;
        

        $("#ftype").combobox({data:windowComboxData, valueField:'fvalue',
              textField:'fname'});
        /*var pager = $('#master_table').datagrid().datagrid('getPager'); 
        $(pager).pagination({
           onRefresh:function(){
              $("#master_table").datagrid('reload');
          },
        });*/
   		  $('#master_table').datagrid({
   		    url:'/get/z_entity?_field=fname,ftype,ftablename,FDescription,fschema,fuserorder,fdefaultproperty&ftype=>1',
   		    idField:'uid',
   		    fit:true,
   		    remoteSort:false,
   		    fitColumns:false,
   		    singleSelect:true,
   		    pagination:true, //客户端分页
   		    pageSize:30,
   		    pageList:[20,30,40,50],
   		    toolbar:"#master_tb",
   		    columns:[[
   		        {field:'uid',title:'ID',width:80,sortable:true},
   		        {field:'fname',title:'名称',width:100,sortable:true},
   		        {field:'ftablename',title:'表名',width:100,sortable:true},
   		        {field:'ftype',title:'实体类型',width:100,sortable:true,formatter:masterTableTypeFormatter},
   		        {field:'fschema',title:'架构',width:100,sortable:true},
   		        {field:'fuserorder',title:'手动排序',width:100,sortable:true},
   		        {field:'fdefaultproperty',title:'默认属性',width:100,sortable:true},
   		        {field:'fdescription',title:'描述',width:200},
   		    ]],
   		    onClickRow:function(index,row){
   		    	$('#link_table').datagrid('rejectChanges');  //取消上次的编辑状态 	
   		    	editIndex=undefined;                        //将编辑的行索引置为初始状态
   		    	masterTableUid=row.uid;
            ftablename=row.ftablename;

            inlineComboxData=getFtypeData(2);
            FentityInlineComboxData=getFentityData();      //获取实体id和名称
            FenumInlineComboxData=getFenumData();          //获取枚举类型
         
   		    	$('#link_table').datagrid({
   		    		 url:'/get/z_entityproperty?_field=fname,ftype,fdescription,fdbname,fdatatype,fvisiable,freadonly,ftypeparamter,fenable,fdefaultproperty,fdefaultvalue,fkey,fenumuid,fvirtual,fentityuid,fentityuid1type,fentitypropertyuid,fentityuid1',
    		         queryParams:{method:'get', fentityuid:row.uid}
    		    });	
    
   		    },
   		    loadFilter:pagerFilter
   		});
      
   		$('#link_table').datagrid({
   			idField:'uid',
   			fit:true,
   			fitColumns:false,
   			remoteSort:false,
   			toolbar:"#tb",
   			singleSelect:true,
   			columns:[[
   			    {field:'uid',title:'ID',width:80,sortable:true},
   			    {field:'fname',title:'名称',width:100,sortable:true,editor:{type:'textbox'}},
   			    {field:'fdbname',title:'属性字段',width:100,sortable:true,editor:{type:'textbox'}},
   			    {field:'ftype',title:'类型',width:100,sortable:true,editor:{type:'combobox',
							options:{
								valueField:'fvalue',
								textField:'fname',
								method:'get',
								required:true
              }},formatter:LinkTableTypeFormatter},
   			    {field:'fdatatype',title:'数据类型',width:100,editor:{type:'textbox'}},
   			    {field:'fdescription',title:'属性描述',width:200,editor:{type:'textbox'}},
   			    {field:'ftypeparamter',title:'属性参数',width:100,editor:{type:'textbox'}},
   			    {field:'fvisiable',title:'是否可见',width:100,editor:{type:'textbox'},formatter:boolFormatter},
   			    {field:'freadonly',title:'是否只读',width:100,editor:{type:'textbox'},formatter:boolFormatter},
   			    {field:'ftypeparamter',title:'属性参数',width:100,editor:{type:'textbox'}},
   			    {field:'fenable',title:'是否启用',width:100,editor:{type:'textbox'},formatter:boolFormatter},
   			    {field:'fdefaultvalue',title:'默认值',width:100,editor:{type:'textbox'}},
   			    {field:'fkey',title:'唯一字段',width:100,editor:{type:'textbox'}},
            {field:'fentityuid1',title:'引用',width:100,editor:{type:'combobox',
              options:{
                valueField:'uid',
                textField:'fname',
                method:'get',
              }},formatter:LinkTableEntityFormatter},
   			    {field:'fenumuid',title:'枚举',width:100,editor:{type:'combobox',
              options:{
                valueField:'uid',
                textField:'fname',
                method:'get',
              }},formatter:LinkTableEnumFormatter},
   			    {field:'fvirtual',title:'虚拟属性',width:100,editor:{type:'textbox'}},
   			    {field:'fentitypropertyuid',title:'引用属性',width:100,editor:{type:'textbox'}},
   			    {field:'fentityuid1type',title:'引用类型',width:100,editor:{type:'textbox'}},  
   			]],
   			pagination:true,
   		  pageSize:30,
   		  pageList:[20,30,40,50],
   			loadFilter:pagerFilter,
   			iconCls: 'icon-edit',
   			onClickRow:function(index,row){
   				if (editIndex != index){
   					if (endEditing()){
   						$('#link_table').datagrid('selectRow', index)
   								.datagrid('beginEdit', index);
   						    editIndex = index;

   						  var ed = $('#link_table').datagrid('getEditor', {index:editIndex,field:'ftype'}); //编辑
                var edEntity=$('#link_table').datagrid('getEditor', {index:editIndex,field:'fentityuid1'});
                var edEnum=$('#link_table').datagrid('getEditor', {index:editIndex,field:'fenumuid'});
                //编辑
   					    //实现动态更新combobox的数据源            
   					    $(ed.target).combobox({data:inlineComboxData});
                $(edEntity.target).combobox({data:FentityInlineComboxData}).combobox("setValue",row.fentityuid1);
                $(edEnum.target).combobox({data:FenumInlineComboxData}).combobox("setValue",row.fenumuid);

                $(ed.target).combobox({
                   onSelect:function(record){     
                       var edtext = $('#link_table').datagrid('getEditor', {index:editIndex,field:'fdatatype'}); //编辑
                      $(edtext.target).textbox('setValue',record.fappend);
                   }
                }).combobox("setValue",row.ftype);
   					} else {
   						$('#link_table').datagrid('selectRow', editIndex);
   					}
   				}
   			}
   		});

   		
		//从表的增删查改操作
		function endEditing(){
			if (editIndex == undefined){return true}
			if ($('#link_table').datagrid('validateRow', editIndex)){
				$('#link_table').datagrid('endEdit', editIndex);
				editIndex = undefined;
				return true;
			} else {
				return false;
			}
		}

		//添加
		function append(){
			if (endEditing()){
				$('#link_table').datagrid('appendRow',{status:'_add'});
				editIndex = $('#link_table').datagrid('getRows').length-1;
				$('#link_table').datagrid('selectRow',editIndex)
						.datagrid('beginEdit', editIndex);
        var ed = $('#link_table').datagrid('getEditor', {index:editIndex,field:'ftype'}); //编辑
              //实现动态更新combobox的数据源            
        $(ed.target).combobox({data:inlineComboxData});
        //$(ed.target).combobox("setValue",inlineComboxData[0]['fvalue']);  
        var edtext = $('#link_table').datagrid('getEditor', {index:editIndex,field:'fdatatype'}); //编辑
        $(ed.target).combobox({
           onSelect:function(record){                
              $(edtext.target).textbox('setValue',record.fappend);
              console.log(edtext);
           }
        }).combobox("setValue",inlineComboxData[0]['fvalue']);
        $(edtext.target).textbox('setValue',inlineComboxData[0]['fappend']);
			}
		}
		//删除
		function removeit(){
			if (editIndex == undefined){
				return
			}
			$('#link_table').datagrid('cancelEdit', editIndex)
					.datagrid('deleteRow', editIndex);
			editIndex = undefined;
		}
		//保存
		function accept(){
			$('#link_table').datagrid('endEdit',editIndex);
			//删除data
			var deleteRows=$('#link_table').datagrid('getChanges','deleted');
			if(deleteRows.length>0){
				deleteRows.map(function(item){
					item['action']="deleted";
          item['ftablename']=ftablename;
				});
			}
			
			//插入data
			var insertRows=$('#link_table').datagrid('getChanges','inserted');
			if(insertRows.length>0){
				insertRows.map(function(item){
					item['action']="inserted";
					item['fentityuid']=masterTableUid;  //插入要添加与主表的关联字段值
          item['ftablename']=ftablename;
				});
			}

			//更新data
			var updateRows=$('#link_table').datagrid('getChanges','updated');
			if(updateRows.length>0){
				updateRows.map(function(item){
					item['action']="updated";
          item['ftablename']=ftablename;
				});
			}
		    
			var rows=deleteRows.concat(insertRows).concat(updateRows);
			
			if (endEditing()){
				//ajax
				$.ajax({
					type:'post',
					url:"/admin/onceEdit/z_entityproperty",
					data:JSON.stringify(rows),
					contentType:"application/json",
					dataType:'json',
					success:function(data){
            if(data.code){
                $('#link_table').datagrid('reload');
                $('#link_table').datagrid('acceptChanges');    //页面保存此次更改 
            }else{
                $.messager.show({
                  title:'Error',
                  msg:data.msg,
                });
            }
           					
					}

				});
				
			}
		}

		//取消
		function reject(){
			$('#link_table').datagrid('rejectChanges');
			editIndex = undefined;
		}
		

		//主表操作，增删查改
	    var url;
      function addEntity(){
          $('#dlg').dialog({left:200,top:300}).dialog('open').dialog('setTitle','添加实体');
          $('#fm').form('clear');
          $("#ftype").combobox("setValue",windowComboxData[0]['fvalue']);
          $('#fm div:first').css('disabled',true).css('display','none');  //隐藏id项
          url = '/add/z_entity'; 
      }
      function editEntity(){
      	  $('#fm div:first').css('disabled',false).css('display','block');  //显示id项
          var row = $('#master_table').datagrid('getSelected');
          if(row!=null){
              $('#dlg').dialog({left:200,top:300}).dialog('open').dialog('setTitle','编辑实体');
              row.oldtablename=row.ftablename;
              $('#fm').form('load',row);
              url='/update/z_entity';
          }else{
          	$.messager.show({
          		title:'提示',
          		msg:'请选中一条记录再编辑',
          	});
          }
      }
      function saveEntity(){
          $('#fm').form('submit',{
              url: url,
              onSubmit: function(){
                  return $(this).form('validate');
              },
              success: function(result){
                  var result = eval('('+result+')');
                  if (!result.code){
                      $.messager.show({
                          title: 'Error',
                          msg: result.msg
                      });
                  } else {
                      $('#dlg').dialog('close');                 
                      $('#master_table').datagrid('reload');    
                  }
              }
          });
      }
      function destroyEntity(){
          var row = $('#master_table').datagrid('getSelected');
          if (row){
              $.messager.confirm('Confirm','你确定要删除吗?',function(r){
                  if (r){
                  	//删除
                      $.post('/delete/z_entity',{uid:row.uid,ftablename:row.ftablename},function(result){
                          if (result.code){
                              $('#master_table').datagrid('reload');  
                              $('#link_table').datagrid('reload');      
                          } else {
                              $.messager.show({   
                                  title: 'Error',
                                  msg: result.msg
                              });
                          }
                      },'json');
                  }
              });
          }
      }

            function pagerFilter(data){
            if (typeof data.length == 'number' && typeof data.splice == 'function'){
              data = {
                total: data.length,
                rows: data
              }
            }

            var dg = $(this);
            var opts = dg.datagrid('options');
            var pager = dg.datagrid('getPager');
            pager.pagination({
              onSelectPage:function(pageNum, pageSize){
                opts.pageNumber = pageNum;
                opts.pageSize = pageSize;
                pager.pagination('refresh',{
                  pageNumber:pageNum,
                  pageSize:pageSize
                });
                dg.datagrid('loadData',data);
              }
            });

            if (!data.originalRows){
              data.originalRows = (data.rows);
            }
            var start = (opts.pageNumber-1)*parseInt(opts.pageSize);
            var end = start + parseInt(opts.pageSize);
            data.rows = (data.originalRows.slice(start, end));
            return data;
          }

          //格式化column为bool值的列
              function boolFormatter(val,row){
                if(val=="1"){
                  return "是";
                }else if(val=="0"){
                  return "否";
                }else{
                  return "";
                }
              }

              //格式化type类型
              function LinkTableTypeFormatter(val,row){
                 var text=val;
                 inlineComboxData.forEach(function(item){
                    if(val==item.fvalue){
                       text=item.fname;
                    }
                 });
                 return text;
              }

            function LinkTableEntityFormatter(val,row){
              var text=val;
              FentityInlineComboxData.forEach(function(item){
                if(val==item.uid){
                  text=item.fname;
                }
              });
              return text;
            }

            function LinkTableEnumFormatter(val,row){
              var text=val;
              FenumInlineComboxData.forEach(function(item){
                if(val==item.uid){
                  text=item.fname;
                }
              });
              return text;
            }

              function masterTableTypeFormatter(val,row){
                 var text=val;
                 windowComboxData.forEach(function(item){
                    if(val==item.fvalue){
                       text=item.fname;
                    }
                 });
                 return text;
              }

              //获取ftype中值对应的text
              function getFtypeData(fenum){
                  var data;
                  var url="/get/z_enumentry?_field=fvalue,fname,fappend&fenum="+fenum;

                  if(fenum==1){
                    url+="&fvalue=!1";
                  }

                  $.ajax({
                    url:url,
                    dataType:'json',
                    async:false,
                    success:function(d){
                     data=d;
                   }
                });
                  return data;
              }

              function getFentityData(){
                var data;
                  $.ajax({
                    url:"/get/z_entity?_field=fname&ftype=1",
                    dataType:'json',
                    async:false,
                    success:function(d){
                     data=d;
                   }
                });
                  return data;
              }
             function getFenumData(){
                 var data;
                 $.ajax({
                    url:"/get/z_enum?_field=fname",
                    dataType:'json',
                    async:false,
                    success:function(d){
                      data=d;
                   }
                 });
                 return data;
             }
   </script>  
</body>
</html>
