<html>
<head>
	<meta charset="UTF-8">
	 <title>{% block title %} IdP {% endblock %}</title>
	 {% block head %}
	  	<link rel="stylesheet" href="/stylesheets/style.css">
	  	<script src="/js/underscore.js"></script>
	    <script src="https://fb.me/react-0.14.3.js"></script>
	    <script src="https://fb.me/react-dom-0.14.3.js"></script>
	  	<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
	  	<script src="/js/griddle.js"></script>
	 {% endblock %}
</head>
<body>
	 {% block content %} {% endblock %}
</body>
</html>