<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="/js/underscore.js"></script>
    <script src="https://fb.me/react-0.14.3.js"></script>
    <script src="https://fb.me/react-dom-0.14.3.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script src="/js/griddle.js"></script>
    <script src="/js/build/entity.js"></script>
</head>
<style type="text/css">
    .form1{
      width:600px;
    }
    input.form-control{
      line-height: 20px;
      padding-left: 7px;
    }
</style>
<body>
    <div id="entity" class="form1"></div>    
    <script src="/js/build/linkTable.js"></script>
    
</body>
</html>